

button {
    cursor: pointer;
    background: hsla(180, 97%, 48%, 0.89);
    width: 80%;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    align-items: center;
    
    
  }

  .input-group {
    position: relative;
    margin-bottom: 20px;
    width: 75%;
  }

  label {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.893);
      margin-left: 30%;
  }

  .input-group input {
    background: wheat;

    
  }
